@chartset "UTF-8";
@import (reference) "../../../../css/common.less";
main{
    height: 100%;
    min-height: 600px;
    padding: 20px;
    .base-flex-container(@flex-flow:row wrap,@justify-content:flex-start,@align-items:stretch,@align-content:space-around);
}




